.vscode/settings.json
src/__pycache__/box.cpython-39.pyc
src/__pycache__/detect.cpython-39.pyc
src/__pycache__/person.cpython-39.pyc
defaulters_screenshot/frame_000.jpg
defaulters_screenshot/frame_001.jpg
defaulters_screenshot/frame_002.jpg
defaulters_screenshot/frame_003.jpg
defaulters_screenshot/frame_004.jpg
defaulters_screenshot/frame_005.jpg
defaulters_screenshot/frame_006.jpg
defaulters_screenshot/frame_007.jpg
defaulters_screenshot/frame_008.jpg
defaulters_screenshot/frame_009.jpg
defaulters_screenshot/frame_010.jpg
defaulters_screenshot/frame_011.jpg
defaulters_screenshot/frame_012.jpg
defaulters_screenshot/frame_013.jpg
defaulters_screenshot/frame_014.jpg
defaulters_screenshot/frame_015.jpg
defaulters_screenshot/frame_016.jpg
defaulters_screenshot/frame_017.jpg
defaulters_screenshot/frame_018.jpg
defaulters_screenshot/frame_019.jpg
defaulters_screenshot/frame_020.jpg
defaulters_screenshot/frame_021.jpg
defaulters_screenshot/frame_022.jpg
defaulters_screenshot/frame_023.jpg
defaulters_screenshot/frame_024.jpg
defaulters_screenshot/frame_025.jpg
defaulters_screenshot/frame_026.jpg
defaulters_screenshot/frame_027.jpg
defaulters_screenshot/frame_028.jpg
defaulters_screenshot/frame_029.jpg
defaulters_screenshot/frame_030.jpg
defaulters_screenshot/frame_031.jpg
defaulters_screenshot/frame_032.jpg
defaulters_screenshot/frame_033.jpg
defaulters_screenshot/frame_034.jpg
defaulters_screenshot/frame_035.jpg
defaulters_screenshot/frame_036.jpg
defaulters_screenshot/frame_037.jpg
defaulters_screenshot/frame_038.jpg
defaulters_screenshot/frame_039.jpg
defaulters_screenshot/frame_040.jpg
defaulters_screenshot/frame_041.jpg
defaulters_screenshot/frame_042.jpg
defaulters_screenshot/frame_043.jpg
defaulters_screenshot/frame_044.jpg
defaulters_screenshot/frame_045.jpg
defaulters_screenshot/frame_046.jpg
defaulters_screenshot/frame_047.jpg
defaulters_screenshot/frame_048.jpg
defaulters_screenshot/frame_049.jpg
defaulters_screenshot/frame_050.jpg
defaulters_screenshot/frame_051.jpg
defaulters_screenshot/frame_052.jpg
defaulters_screenshot/frame_053.jpg
defaulters_screenshot/frame_054.jpg
defaulters_screenshot/frame_055.jpg
defaulters_screenshot/frame_056.jpg
defaulters_screenshot/frame_057.jpg
defaulters_screenshot/frame_058.jpg
defaulters_screenshot/frame_059.jpg
defaulters_screenshot/frame_060.jpg
defaulters_screenshot/frame_061.jpg
defaulters_screenshot/frame_062.jpg
defaulters_screenshot/frame_063.jpg
defaulters_screenshot/frame_064.jpg
defaulters_screenshot/frame_065.jpg
defaulters_screenshot/frame_066.jpg
defaulters_screenshot/frame_067.jpg
defaulters_screenshot/frame_068.jpg
defaulters_screenshot/frame_069.jpg
defaulters_screenshot/frame_070.jpg
defaulters_screenshot/frame_071.jpg
defaulters_screenshot/frame_072.jpg
defaulters_screenshot/frame_073.jpg
defaulters_screenshot/frame_074.jpg
defaulters_screenshot/frame_075.jpg
defaulters_screenshot/frame_076.jpg
defaulters_screenshot/frame_077.jpg
defaulters_screenshot/frame_078.jpg
defaulters_screenshot/frame_079.jpg
defaulters_screenshot/frame_080.jpg
defaulters_screenshot/frame_081.jpg
defaulters_screenshot/frame_082.jpg
defaulters_screenshot/frame_083.jpg
defaulters_screenshot/frame_084.jpg
defaulters_screenshot/frame_085.jpg
defaulters_screenshot/frame_086.jpg
defaulters_screenshot/frame_087.jpg
defaulters_screenshot/frame_088.jpg
defaulters_screenshot/frame_089.jpg
defaulters_screenshot/frame_090.jpg
defaulters_screenshot/frame_091.jpg
defaulters_screenshot/frame_092.jpg
defaulters_screenshot/frame_093.jpg
defaulters_screenshot/frame_094.jpg
defaulters_screenshot/frame_095.jpg
defaulters_screenshot/frame_096.jpg
defaulters_screenshot/frame_097.jpg
defaulters_screenshot/frame_098.jpg
defaulters_screenshot/frame_099.jpg
defaulters_screenshot/frame_100.jpg
defaulters_screenshot/frame_101.jpg
defaulters_screenshot/frame_102.jpg
defaulters_screenshot/frame_103.jpg
defaulters_screenshot/frame_104.jpg
defaulters_screenshot/frame_105.jpg
defaulters_screenshot/frame_106.jpg
defaulters_screenshot/frame_107.jpg
defaulters_screenshot/frame_108.jpg
defaulters_screenshot/frame_109.jpg
defaulters_screenshot/frame_110.jpg
defaulters_screenshot/frame_111.jpg
defaulters_screenshot/frame_112.jpg
defaulters_screenshot/frame_113.jpg
defaulters_screenshot/frame_114.jpg
defaulters_screenshot/frame_115.jpg
defaulters_screenshot/frame_116.jpg
defaulters_screenshot/frame_117.jpg
defaulters_screenshot/frame_118.jpg
defaulters_screenshot/frame_119.jpg
defaulters_screenshot/frame_120.jpg
defaulters_screenshot/frame_121.jpg
defaulters_screenshot/frame_122.jpg
defaulters_screenshot/frame_123.jpg
defaulters_screenshot/frame_124.jpg
defaulters_screenshot/frame_125.jpg
defaulters_screenshot/frame_126.jpg
defaulters_screenshot/frame_127.jpg
defaulters_screenshot/frame_128.jpg
defaulters_screenshot/frame_129.jpg
defaulters_screenshot/frame_130.jpg
defaulters_screenshot/frame_131.jpg
defaulters_screenshot/frame_132.jpg
defaulters_screenshot/frame_133.jpg
runs/detect/train2.7z
runs/detect/train5.7z
runs/detect/train/args.yaml
runs/detect/train/labels_correlogram.jpg
runs/detect/train/labels.jpg
runs/detect/train/results.csv
runs/detect/train/train_batch0.jpg
runs/detect/train/train_batch1.jpg
runs/detect/train/train_batch2.jpg
runs/detect/train/weights/best.pt
runs/detect/train/weights/last.pt
runs/detect/train2/args.yaml
runs/detect/train2/confusion_matrix.png
runs/detect/train2/F1_curve.png
runs/detect/train2/labels_correlogram.jpg
runs/detect/train2/labels.jpg
runs/detect/train2/P_curve.png
runs/detect/train2/PR_curve.png
runs/detect/train2/R_curve.png
runs/detect/train2/results.csv
runs/detect/train2/results.png
runs/detect/train2/train_batch0.jpg
runs/detect/train2/train_batch1.jpg
runs/detect/train2/train_batch2.jpg
runs/detect/train2/val_batch0_labels.jpg
runs/detect/train2/val_batch0_pred.jpg
runs/detect/train2/val_batch1_labels.jpg
runs/detect/train2/val_batch1_pred.jpg
runs/detect/train2/val_batch2_labels.jpg
runs/detect/train2/val_batch2_pred.jpg
runs/detect/train2/weights/best.pt
runs/detect/train2/weights/last.pt
runs/detect/train3/args.yaml
runs/detect/train3/labels_correlogram.jpg
runs/detect/train3/labels.jpg
runs/detect/train3/train_batch0.jpg
runs/detect/train3/train_batch1.jpg
runs/detect/train3/train_batch2.jpg
runs/detect/train4/args.yaml
runs/detect/train4/labels_correlogram.jpg
runs/detect/train4/labels.jpg
runs/detect/train4/train_batch0.jpg
runs/detect/train4/train_batch1.jpg
runs/detect/train4/train_batch2.jpg
runs/detect/train5/args.yaml
runs/detect/train5/confusion_matrix.png
runs/detect/train5/F1_curve.png
runs/detect/train5/labels_correlogram.jpg
runs/detect/train5/labels.jpg
runs/detect/train5/P_curve.png
runs/detect/train5/PR_curve.png
runs/detect/train5/R_curve.png
runs/detect/train5/results.csv
runs/detect/train5/results.png
runs/detect/train5/train_batch0.jpg
runs/detect/train5/train_batch1.jpg
runs/detect/train5/train_batch2.jpg
runs/detect/train5/val_batch0_labels.jpg
runs/detect/train5/val_batch0_pred.jpg
runs/detect/train5/val_batch1_labels.jpg
runs/detect/train5/val_batch1_pred.jpg
runs/detect/train5/val_batch2_labels.jpg
runs/detect/train5/val_batch2_pred.jpg
runs/detect/train5/weights/last.pt
src/__pycache__/collision_detect.cpython-39.pyc
yolov8n.pt
